<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Antagonist Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'LexArcana.Name' }}"/>
            </h1>

            {{!-- Character Summary --}}

            {{!-- Header Attributes --}}
        </section>
    </header>

    {{!-- Antagonist Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="abilities">{{ localize "LexArcana.Abilities" }}</a>
        <a class="item" data-tab="biography">{{ localize "LexArcana.Biography" }}</a>
    </nav>

    {{!-- Antagonist Sheet Body --}}
    <section class="sheet-body">
        {{!-- Abilities Tab --}}
        <div class="tab abilities flexcol" data-group="primary" data-tab="abilities">
            {{> "systems/LexArcana/templates/actors/parts/actor-abilities.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor actor.system.biography target="system.biography" button=true owner=owner editable=true}}
        </div>
    </section>
</form>
