<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

        <section class="header-details no-circle">
            {{!-- Custos Summary --}}
			<ul class="flexrow">
				<li><div class="portrait">
                    <img class="laurel" src="./systems/LexArcana/styles/images/laurel1.webp"/>
                    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
                    <img class="laurel" src="./systems/LexArcana/styles/images/laurel2.webp"/>
                </div></li>
				<li>
					<h1 class="charname">
						<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'LexArcana.Name' }}"/>
					</h1>
                    <ul class="flexrow">
                        {{#if isGM}}
                        <li>
                            <h4 class="attribute-name box-title">{{ localize "LexArcana.NPC" }}</h4>
                            <div class="attribute-value multiple">
                                <input name="system.attributes.npc" type="checkbox" {{checked actor.system.attributes.npc}} />
                            </div>
                        </li>
                        {{/if}}
                         <li>
                             <h4 class="attribute-name box-title">{{ localize "LexArcana.Age" }}</h4>
                             <div class="attribute-value">
                                <input name="system.age" type="text" value="{{actor.system.age}}" placeholder="19" data-dtype="Number"/>
                             </div>
                        </li>
                        <li>
                            <h4 class="attribute-name box-title">{{ localize "LexArcana.Gender" }}</h4>
                            <div class="attribute-value">
                                <input name="system.gender" type="text" value="{{actor.system.gender}}" placeholder="N/A" data-dtype="String"/>
                            </div>
                        </li>
                    </ul>
				</li>                
			</ul>
            {{!-- Header sub Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute languages">
                    <h4 class="attribute-name box-title">{{ localize "LexArcana.Languages" }}</h4>
                    <div class="attribute-wide-value">
                        <input name="system.languages" type="text" value="{{actor.system.languages}}" placeholder="N/A" data-dtype="String" style="width: auto";/>
                    </div>
                </li>
                <li class="attribute office">
                    <h4 class="attribute-name box-title">{{ localize "LexArcana.Office" }}</h4>
                    <div class="attribute-wide-value">
                        <input name="system.office" type="text" value="{{actor.system.office}}" placeholder="N/A" data-dtype="String"/>
                    </div>
                </li>
                <li class="attribute rank">
                    <h4 class="attribute-name box-title">{{ localize "LexArcana.Rank" }}</h4>
                    <div class="attribute-wide-value">
                        <input name="system.rank" type="text" value="{{actor.system.rank}}" placeholder="Gregarius" data-dtype="String"/>
                    </div>
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "LexArcana.HitPoints" }} | {{ localize "LexArcana.Encumbrance" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.hitPoints.value" type="text" value="{{actor.system.attributes.hitPoints.value}}" placeholder="10" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <input name="system.attributes.hitPoints.max" type="text" value="{{actor.system.attributes.hitPoints.max}}" placeholder="10" data-dtype="Number"/>
                        <span class="sep">  |  </span>
                        <input name="system.encumbrance" type="text" value="{{actor.system.encumbrance}}" placeholder="0" data-dtype="Number"/>
                    </div>
                </li>

                <li class="attribute pietas">
                    <h4 class="attribute-name box-title">{{ localize "LexArcana.Pietas" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="system.attributes.pietas.value" type="text" value="{{actor.system.attributes.pietas.value}}" placeholder="10" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <input name="system.attributes.pietas.max" type="text" value="{{actor.system.attributes.pietas.max}}" placeholder="10" data-dtype="Number"/>
                    </div>
                </li>
				<li class="item item-header province item-controls" data-item-id="{{province._id}}">
                    <h4 class="attribute-name box-title" data-pmbut="{{province._id}}">{{ localize "LexArcana.Province" }}</h4>
					{{province.name}}
				</li>
            </ul>
        </section>
    </header>

    {{!-- Custos Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="abilities">{{ localize "LexArcana.Abilities" }}</a>
        <a class="item" data-tab="inventory">{{ localize "LexArcana.Inventory" }}</a>
        <a class="item" data-tab="rituals">{{ localize "LexArcana.Rituals" }}</a>
        <a class="item" data-tab="biography">{{ localize "LexArcana.Biography" }}</a>
    </nav>

    {{!-- Custos Sheet Body --}}
    <section class="sheet-body">

        {{!-- Abilities Tab --}}
        <div class="tab abilities flexcol" data-group="primary" data-tab="abilities">
            {{> "systems/LexArcana/templates/actors/parts/actor-abilities.html"}}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/LexArcana/templates/actors/parts/actor-inventory.html"}}
        </div>

        {{!-- Rituals Tab --}}
        <div class="tab rituals flexcol" data-group="primary" data-tab="rituals">
            {{> "systems/LexArcana/templates/actors/parts/actor-rituals.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography flexrow" data-group="primary" data-tab="biography">
            <div class="biography">
                {{editor actor.system.biography target="system.biography" button=true owner=owner editable=true}}
            </div>
        </div>
    </section>
</form>
