
        <div class="tab abilities flexcol" data-group="primary" data-tab="abilities"><div class="abilities no-circle">
			<ul class="floxcol grid-layout-3c">
				{{!-- Core Abilities --}}
				<li>
					<div>
						<i class="dialog-roll roll1d-icon" data-diceclass="oneDice"></i>
						<ul>
							{{#each actor.system.oneDice as |value key|}}
								<li>
									<span>{{value}}</span>
									<i class="delete-ability fas fa-trash" data-diceclass="oneDice" data-abilityid="{{value}}"></i>
								</li>
							{{/each}}
						</ul>
						<a class="add-ability add-icon" data-diceclass="oneDice"></a>
					</div>
				</li>
				<li>
					<div>
						<i class="dialog-roll roll2d-icon" data-diceclass="twoDice"></i>
						<ul>
							{{#each actor.system.twoDice as |value key|}}
								<li>
									<span>{{value}}</span>
									<i class="delete-ability fas fa-trash" data-diceclass="twoDice" data-abilityid="{{value}}"></i>
								</li>
							{{/each}}
						</ul>
						<a class="add-ability add-icon" data-diceclass="twoDice"></a>
					</div>
				</li>
				<li>
					<div>
						<i class="dialog-roll roll3d-icon" data-diceclass="threeDice"></i>
						<ul>
							{{#each actor.system.threeDice as |value key|}}
								<li>
									<span>{{value}}</span>
									<i class="delete-ability fas fa-trash" data-diceclass="threeDice" data-abilityid="{{value}}"></i>
								</li>
							{{/each}}
						</ul>
						<a class="add-ability add-icon" data-diceclass="{hreeDice"></a>
					</div>
				</li>
			</ul>
		</div>