<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'LexArcana.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>
        </div>
    </header>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">
            <p>Description</p>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Armor Class --}}
        <div class="form-group">
            <label>{{ localize "LexArcana.Encumbrance" }}</label>
            <div class="form-fields">
                <input type="text" name="data.armor.encumbrance" value="{{data.armor.encumbrance}}" data-dtype="Number"/>
            </div>
        </div>

        {{!-- Armor Class --}}
        <div class="form-group">
            <label>{{ localize "LexArcana.Protection" }}</label>
            <div class="form-fields">
                <input type="text" name="data.armor.protection" value="{{data.armor.protection}}" data-dtype="Number"/>
            </div>
        </div>
    </section>
</form>
