<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1>
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'LexArcana.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{item.type}}</h4>
            </div>
        </div>
    </header>

    {{!-- Custos Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="information">{{ localize "LexArcana.Information" }}</a>
        <a class="item" data-tab="description">{{ localize "LexArcana.Description" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{!-- Information Tab --}}
        <div class="tab information flexrow no-circle" data-group="primary" data-tab="information">
            {{!-- Languages spoken --}}
            <div>
                <h3>{{ localize "LexArcana.LanguagesSpokenLabel" }}</h3>
                <div class="grid-layout-2c">
                    <input style="width: 100%" type="text" name="system.languages" value="{{item.system.languages}}" data-dtype="Text"/>
                </div>
            </div>

            {{!-- Province Peritiae Bonuses --}}
            <div>
                <h3>{{ localize "LexArcana.ProvincePeritiaeModifiersLabel" }}</h3>
                <div>
                    <ul class="grid-layout-2c grid-layout2c-left-text-right-number">
                        <li><label>{{ localize "LexArcana.Peritia.DeBello" }}</label></li>
                        <li><input type="text" name="system.peritiaeModifiers.deBello.value" value="{{item.system.peritiaeModifiers.deBello.value}}" data-dtype="Number"/></li>
                        <li><label>{{ localize "LexArcana.Peritia.DeNatura" }}</label></li>
                        <li><input type="text" name="system.peritiaeModifiers.deNatura.value" value="{{item.system.peritiaeModifiers.deNatura.value}}" data-dtype="Number"/></li>
                        <li><label>{{ localize "LexArcana.Peritia.DeSocietate" }}</label></li>
                        <li><input type="text" name="system.peritiaeModifiers.deSocietate.value" value="{{item.system.peritiaeModifiers.deSocietate.value}}" data-dtype="Number"/></li>
                        <li><label>{{ localize "LexArcana.Peritia.DeMagia" }}</label></li>
                        <li><input type="text" name="system.peritiaeModifiers.deMagia.value" value="{{item.system.peritiaeModifiers.deMagia.value}}" data-dtype="Number"/></li>
                        <li><label>{{ localize "LexArcana.Peritia.DeScientia" }}</label></li>
                        <li><input type="text" name="system.peritiaeModifiers.deScientia.value" value="{{item.system.peritiaeModifiers.deScientia.value}}" data-dtype="Number"/></li>
                        <li><label>{{ localize "LexArcana.Peritia.DeCorpore" }}</label></li>
                        <li><input type="text" name="system.peritiaeModifiers.deCorpore.value" value="{{item.system.peritiaeModifiers.deCorpore.value}}" data-dtype="Number"/></li>
                    </ul>
                    
                </div>
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab flexrow description" data-group="primary" data-tab="description">
            {{editor item.system.description target="system.description" button=true owner=owner editable=true}}
        </div>
    </section>
</form>
