<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'LexArcana.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{item.type}}</h4>
            </div>
        </div>
    </header>

    {{!-- Custos Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="stats">{{ localize "LexArcana.Attributes" }}</a>
        <a class="item" data-tab="description">{{ localize "LexArcana.Description" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

		<div class="tab stats flexcol" data-group="primary" data-tab="stats">
			{{!-- Encumbrance --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.Encumbrance" }}</label>
				<div class="form-fields">
					<input type="text" name="system.encumbrance" value="{{item.system.encumbrance}}" data-dtype="Number"/>
				</div>
			</div>
			
			{{!-- Damage --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.Damage" }}</label>
				<div class="form-fields">
					<input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="Number"/>
				</div>
			</div>
			
			{{!-- Range --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.Range" }}</label>
				<div class="form-fields">
					<input type="text" name="system.range" value="{{item.system.range}}"/>
				</div>
			</div>

			{{!-- Difficulty --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.Difficulty" }}</label>
				<div class="form-fields">
					<input type="text" name="system.difficulty" value="{{item.system.difficulty}}" data-dtype="Number"/>
				</div>
			</div>
			
			{{!-- Feat --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.Feat" }}</label>
				<div class="form-fields">
					<input type="text" name="system.feat" value="{{item.system.feat}}"/>
				</div>
			</div>


			{{!-- Skill --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.PeritiaeName" }}</label>
				<div class="form-fields">
					<select name="system.peritia" data-dtype="String">
						{{#select item.system.peritia}}
						<option value="deBello">{{ localize "LexArcana.Peritia.DeBello" }}</option>
						<option value="deCorpore">{{ localize "LexArcana.Peritia.DeCorpore" }}</option>
						<option value="deMagia">{{ localize "LexArcana.Peritia.DeMagia" }}</option>
						<option value="deNatura">{{ localize "LexArcana.Peritia.DeNatura" }}</option>
						<option value="deScientia">{{ localize "LexArcana.Peritia.DeScientia" }}</option>
						<option value="deSocietate">{{ localize "LexArcana.Peritia.DeSocietate" }}</option>
						{{/select}}
					  </select>
				</div>
			</div>
		</div>

		
        {{!-- Description --}}
        <div class="description tab flexrow" data-group="primary" data-tab="description">
			{{editor item.system.description target="system.description" button=true owner=owner editable=true}}
        </div>
    </section>
</form>
