<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'LexArcana.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{object.type}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>
        </div>
    </header>

    {{!-- Custos Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="stats">{{ localize "LexArcana.Attributes" }}</a>
        <a class="item" data-tab="description">{{ localize "LexArcana.Description" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

		<div class="tab stats flexcol" data-group="primary" data-tab="stats">
			{{!-- Cost --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.Cost" }}</label>
				<div class="form-fields">
					<input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
				</div>
			</div>
			
			{{!-- Discipline --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.DisciplinesName" }}</label>
				{{#each data.disciplines as |discipline key|}}
				<div class="form-separator">
					<div class="form-fields">
						<div class="form-group">
							<label>{{ localize "LexArcana.DisciplineName" }}</label>
							<select name="data.disciplines.{{key}}.name">
								{{#select discipline.name}}
								<option value="precognition">{{ localize "LexArcana.Disciplines.Precognition"}}</option>
								<option value="clairvoyance">{{ localize "LexArcana.Disciplines.Clairvoyance"}}</option>
								<option value="retrocognition">{{ localize "LexArcana.Disciplines.Retrocognition"}}</option>
								<option value="interpretationOfOmens">{{ localize "LexArcana.Disciplines.InterpretationOfOmens"}}</option>
								<option value="interpretationOfDreams">{{ localize "LexArcana.Disciplines.InterpretationOfDreams"}}</option>
								<option value="favorOfTheGods">{{ localize "LexArcana.Disciplines.FavorOfTheGods"}}</option>
								{{/select}}
							</select>
						</div>
						<div class="form-group">
							<label>{{ localize "LexArcana.DifficultyThreshold" }}</label>
							<div class="form-fields">
								<input type="text" name="data.disciplines.{{key}}.difficultyThreshold" value="{{discipline.difficultyThreshold}}" data-dtype="Number"/>
							</div>
						</div>
					</div>
					<div class="form-fields">
						<a class="discipline-delete icon" data-item-id="{{../item.id}}" data-discipline-id="{{key}}">&nbsp;</a>
					</div>
				</div>
				{{/each}}
				<a class="discipline-add icon" data-item-id="{{item.id}}">&nbsp;</a>
			</div>
			
			{{!-- Duration --}}
			<div class="form-group">
				<label>{{ localize "LexArcana.Duration" }}</label>
				<div class="form-fields">
					<select name="data.duration">
						{{#select data.duration}}
						<option value="short">{{ localize "LexArcana.Short"}}</option>
						<option value="average">{{ localize "LexArcana.Average"}}</option>
						<option value="long">{{ localize "LexArcana.Long"}}</option>
						{{/select}}
					</select>
				</div>
			</div>
		</div>

        {{!-- Description --}}
        <div class="description tab flexrow" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
