<div class="flexrow">
    <h4>{{ localize "LexArcana.Virtutes }}</h4>
    <div>
        <ul>
            {{#each data.attributes as |ability id|}}
            <li data-ability="{{id}}">
                <h5>{{ localize ("LexArcana.Virtutes. " + ability.label)}}</h5>
                <input name="data.abilities.{{id}}"
                       type="number"
                       value="{{ability.value}}"
                       data-dtype="Number" required/>
            </li>
            {{/each}}
        </ul>
    </div>
</div>