<div class="inventory-filters inventory no-circle">
	<div>
		<h3>{{ localize "LexArcana.InventoryEquipedSectionTitle" }}</h3>
		<ul>
		{{#each items as |item key|}}
			{{#ife item.data.active true}}
				<li class="item">
					<a class="item-image inventory" data-id="{{item._id}}"><img src="{{item.img}}" title="{{item.name}}" width="32" height="32" /></a>
					<a class="item-name inventory" title="{{item.name}}">{{item.name}}</a>
					<div class="item-roll_area inventory">
						{{#ife item.type 'meleeWeapon'}}
							<a class="fas fa-dice dialog-roll" data-peritiaid="{{item.data.peritia}}" data-id="{{item._id}}" data-peritiaid="{{item.data.peritia}}">&nbsp;</a>
							<a class="fas fa-heartbeat dam_roll" data-id="{{item._id}}">&nbsp;</a>
						{{/ife}}
                   		{{#ife item.type 'rangedWeapon'}}
						   <a class="fas fa-dice dialog-roll" data-peritiaid="{{item.data.peritia}}" data-id="{{item._id}}" data-peritiaid="{{item.data.peritia}}">&nbsp;</a>
							<a class="fas fa-heartbeat dam_roll" data-id="{{item._id}}">&nbsp;</a>
						{{/ife}}
						{{#ife item.type 'armor'}}
						 	<a class="fas fa-tshirt armor_roll" data-id="{{item._id}}">&nbsp;</a>
					    {{/ife}}
					</div>
					<div class="fas fa-anchor inventory"> {{item.data.encumbrance}}</div>
                    <div class="item-modify inventory">
						<a class="item-equip fas fa-thumbs-up" data-id="{{item._id}}">&nbsp;</a>
						<a class="item-edit fas fa-edit" data-id="{{item._id}}">&nbsp;</a>
						<a class="item-delete fas fa-trash" data-id="{{item._id}}">&nbsp;</a>
					</div>
					
				</li>
			{{/ife}}
		{{/each}}
		</ul>
	</div>
	<div>
		<h3>{{ localize "LexArcana.InventoryBagSectionTitle" }}</h3>
		<ul>
		{{#each items as |item key|}}
			{{#ifne item.data.active true}}
			<li class="item">
				<a class="item-image" data-id="{{item._id}}"><img src="{{item.img}}" title="{{item.name}}" width="32" height="32" /></a>
				<a class="item-name" title="{{item.name}}" data-id="{{item._id}}">{{item.name}}</a>
				<div class="item-roll_area inventory"></div>
				<div class="fas fa-anchor inventory"> {{item.data.encumbrance}}</div>
				<div class="item-modify">
					<a class="item-equip fas fa-hand-rock" style="color:grey" data-id="{{item._id}}">&nbsp;</a>
					<a class="item-edit fas fa-edit" data-id="{{item._id}}">&nbsp;</a>
					<a class="item-delete fas fa-trash" data-id="{{item._id}}">&nbsp;</a>
				</div>
			</li>
			{{/ifne}}
		{{/each}}
		</ul>
	</div>
</div>