{{!-- Peritiae Abilities --}}
<div>
        <h3>{{ localize "LexArcana.PeritiaeName" }}</h3>
        <ul class="peritiae flexrow grid-layout-3c">
                {{#each data.peritiae as |peritiaValue peritiaKey|}}
                <li class="peritia">
                        <div class="grid-layout2">
                                <a for="data.peritiae.{{peritiaKey}}.value" class="peritia-name grid-layout2-area1 rollable dialog-peritia" data-peritiaid="{{peritiaKey}}">{{peritiaValue.label}}</a>
                                <input class="peritia-value grid-layout2-area2" name="data.peritiae.{{peritiaKey}}.value" value="{{peritiaValue.value}}" data-dtype="number" type="number"/>
                        </div>
                        {{#each peritiaValue.specialties as |specialtyValue specialtyKey|}}
                        <div class="grid-layout3">
                                <input style="display:none;" name="data.peritiae.{{peritiaKey}}.specialties.{{specialtyKey}}.defaultRoll" value="{{specialtyValue.defaultRoll}}" data-dtype="text" type="text"/>
                                <input class="peritia-name grid-layout3-area1" name="data.peritiae.{{peritiaKey}}.specialties.{{specialtyKey}}.name" value="{{specialtyValue.name}}" data-dtype="text" type="text"/>
                                <input class="peritia-value grid-layout3-area2" name="data.peritiae.{{peritiaKey}}.specialties.{{specialtyKey}}.modifier" value="{{specialtyValue.modifier}}" data-dtype="text" type="text"/>
                                <i class="dialog-specialty rollable-1d grid-layout3-area3" data-peritiaid="{{peritiaKey}}" data-specialtyid="{{specialtyValue.name}}"></i>
                        </div>
                        {{/each}}
                        <a class="add-peritiae-specialty" data-peritiaid="{{peritiaKey}}">{{ localize "LexArcana.AddPeritiaeSpecialty" }}</a>
                </li>
                {{/each}}
        </ul>
</div>