*
{
    margin: 0;
    padding: 0;
}

.system-LexArcana input
, .system-LexArcana button
, .system-LexArcana .window-content
, .system-LexArcana a
, .system-LexArcana .encounters
, .system-LexArcana .directory-list .folder
, .system-LexArcana .chat-message
{
    font-family: Herculanum;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.system-LexArcana .window-content
{
    background-image:url("../styles/images/marble-black.png");
    background-repeat: repeat;
    background-size: 512px 512px;
    color: #ffffff;
}

.system-LexArcana .window-content .sheet-header
{
    max-height: 64px;
}

.system-LexArcana .window-content .sheet-header ul
{
    list-style: none;
}

.system-LexArcana .sheet-navigation
{
    color: #ffffffaa;
    background-color: #ffffff55;
    text-align: center;
    line-height: 32px;
    max-height: 32px;
}

.system-LexArcana button
, .system-LexArcana .dialog-buttons button.default
, .system-LexArcana .form-group button
, .system-LexArcana select
, .system-LexArcana textarea
, .system-LexArcana form input[type="text"]
, .system-LexArcana form input[type="number"]
, .system-LexArcana .directory-footer
, .system-LexArcana .sheet-body
, .system-LexArcana .window-content .sheet-header .profile
{
    color: #000000;
    background-color: #ffffff88;
    text-align: center;
}

.system-LexArcana .form-header
, .system-LexArcana p
{
    color: #ffffff;
}

.system-LexArcana .form-group .units
{
    color: #ffd700;
}

.system-LexArcana .window-content .sheet-header .profile
{
    border-radius: 1em;
}

.system-LexArcana .window-content .sheet-header .attribute-value input
{
    width: 40px;
}

.system-LexArcana .tabs
{
    margin-top: 5px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.system-LexArcana .tabs .item
{
    text-shadow: 0px 0px 4px #00000088;
}

.system-LexArcana .tabs .active
{
    text-shadow: 0px 0px 4px #ffd700ff;
}

.system-LexArcana .biography, .system-LexArcana .editor, .system-LexArcana .editor-content, .system-LexArcana .tox-edit-area
{
    height: 100%;
}